# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Next.js
frontend/node_modules/
frontend/.next/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# OSX
.DS_Store
